<%= form_with(model: respondent, local: true) do |form| %>
  <% if respondent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(respondent.errors.count, "error") %> prohibited this respondent from being saved:</h2>

      <ul>
      <% respondent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="input-field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="input-field">
    <%= form.label :lead_date %>
    <%= form.text_field :lead_date %>
  </div>

  <div class="input-field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="input-field">
    <%= form.label :lead_source %>
    <%= form.text_field :lead_source %>
  </div>

  <div class="input-field">
    <%= form.label :select_executive %>
    <%= form.text_field :select_executive %>
  </div>

  <div class="input-field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="input-field">
    <%= form.label :lead_type %>
    <%= form.text_field :lead_type %>
  </div>

  <div class="input-field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="input-field">
    <%= form.label :company_address %>
    <%= form.text_field :company_address %>
  </div>

  <div class="input-field">
    <%= form.label :site_name %>
    <%= form.text_field :site_name %>
  </div>

  <div class="input-field">
    <%= form.label :site_address %>
    <%= form.text_field :site_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
