<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Name</th>
      <th>String</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Company name</th>
      <th>Company address</th>
      <th>Site name</th>
      <th>Site address</th>
      <th>Hand over date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.title %></td>
        <td><%= customer.name %></td>
        <td><%= customer.string %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.company_name %></td>
        <td><%= customer.company_address %></td>
        <td><%= customer.site_name %></td>
        <td><%= customer.site_address %></td>
        <td><%= customer.hand_over_date %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
