<p id="notice"><%= notice %></p>

<p>
  <strong>From date:</strong>
  <%= @amc.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @amc.to_date %>
</p>

<p>
  <strong>Type:</strong>
  <%= @amc.type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @amc.price %>
</p>

<p>
  <strong>Tax type:</strong>
  <%= @amc.tax_type %>
</p>

<p>
  <strong>Total:</strong>
  <%= @amc.total %>
</p>

<%= link_to 'Edit', edit_amc_path(@amc) %> |
<%= link_to 'Back', amcs_path %>
