<p id="notice"><%= notice %></p>

<p>
  <strong>Enquiry date:</strong>
  <%= @enquiry.enquiry_date %>
</p>

<p>
  <strong>Floor count:</strong>
  <%= @enquiry.floor_count %>
</p>

<p>
  <strong>Lift type:</strong>
  <%= @enquiry.lift_type %>
</p>

<p>
  <strong>Floor destination:</strong>
  <%= @enquiry.floor_destination %>
</p>

<p>
  <strong>Machine mounting room:</strong>
  <%= @enquiry.machine_mounting_room %>
</p>

<p>
  <strong>Stops count:</strong>
  <%= @enquiry.stops_count %>
</p>

<p>
  <strong>Cabin type:</strong>
  <%= @enquiry.cabin_type %>
</p>

<p>
  <strong>Openings count:</strong>
  <%= @enquiry.openings_count %>
</p>

<p>
  <strong>Shaft width:</strong>
  <%= @enquiry.shaft_width %>
</p>

<p>
  <strong>Shaft depth:</strong>
  <%= @enquiry.shaft_depth %>
</p>

<p>
  <strong>Lifts count:</strong>
  <%= @enquiry.lifts_count %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @enquiry.capacity %>
</p>

<p>
  <strong>Capacity units:</strong>
  <%= @enquiry.capacity_units %>
</p>

<%= link_to 'Edit', edit_enquiry_path(@enquiry) %> |
<%= link_to 'Back', enquiries_path %>
